body{
    background-color: #dfdfdf;
}


.header{
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    font-family: 'Raleway', sans-serif;
}

.logo{
    height: 100%;
    object-fit: contain;
}

.mobile-nav{
    display: none;
}

.display-none{
    display: none;
}

.desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 25px;
}

.desktop-menu{
    flex-direction: row-reverse;
}

.desktop-menu-items{
    list-style: none;
    display: flex;
    
}

.desktop-menu-items li{
    margin: 0 10px;
    padding: 3px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    color: #000;
    transition: .5s ease all;
}

.item:hover{
    cursor: pointer;
    border-color: #000;
}

.redes{
    text-decoration: none;
    color: #000;
}

.redes:hover{
    cursor: pointer;
}

@media (max-width: 750px) {
    .desktop-nav{
        display: none;
    }

    .mobile-nav{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .logo{
        height: 100%;
    }
    
    .mobile-nav i{
        right: 20px;
        position: absolute;
        font-size: 25px;
    }

}